<template id='main-page-template'>
    <div class='container'>
        <div class='lead'>
            <h1 tt="toolname"></h1>
            <p tt="intro"></p>
        </div>
        <div v-if='loaded'>
            <div style="float:right;">
                <a href="https://www.wikidata.org/wiki/Wikidata:Pauken/template" class="wikipedia" target="_blank" tt="edit_main_page_structure"></a>
            </div>
            <div v-for="headline in main_page_structure_order">
                <h2>{{headline}}</h2>
                <ul>
                    <li v-for="kv in main_page_structure[headline]">
                        <router-link :to="kv[1]">{{kv[0]}}</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
'use strict';

var main_page_structure;
var main_page_structure_order;

let MainPage = Vue.extend ( {
    props : [] ,
    data : function () { return { loaded:false } } ,
    created : function () {
        if ( typeof main_page_structure=='undefined' ) this.load_main_page_structure();
        else this.loaded = true;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load_main_page_structure() {
            let self = this;
            let url = "https://www.wikidata.org/w/api.php?action=parse&format=json&prop=wikitext&page=Wikidata%3APauken%2Ftemplate&callback=?";
            $.getJSON(url,function(d){
                const re_headline = new RegExp(/^=+ *(.+?) *=+ *$/, "i");
                const re_key = new RegExp(/^; *(.+?) *$/, "i");
                const re_value = new RegExp(/^: *(.+?) *$/, "i");
                let lines = d.parse.wikitext['*'].split("\n");
                main_page_structure = {};
                main_page_structure_order = [];
                let headline = '';
                let key = '';
                lines.forEach(line => {
                    let cap_headline = line.match(re_headline);
                    let cap_key = line.match(re_key);
                    let cap_value = line.match(re_value);
                    if ( cap_headline ) {
                        headline = cap_headline[1];
                        main_page_structure[headline] = [];
                        main_page_structure_order.push(headline);
                    } else if ( cap_key ) {
                        key = cap_key[1];
                    } else if ( cap_value ) {
                        let value = cap_value[1];
                        if ( headline!='' && key!='' ) main_page_structure[headline].push([key,value]);
                    }
                });
                self.loaded = true;
            });
        },
    } ,
    template:'#main-page-template'
} ) ;
</script>
